<div class="slide" #myBounds>
  <div class="textList">
      <input type="text" *ngFor="let text of texts" ngDraggable [bounds]="myBounds" [inBounds]="inBounds" />
  </div>
  <div class="imagesList">
    <img *ngFor="let data of datas" ngDraggable [bounds]="myBounds" [inBounds]="inBounds" [src]="data" width="30%">
  </div>
</div>
<div class="buttons">
  <button class="button" (click)="addTextField()">
    Add Text
  </button>
  <input type="file" id="file" value="Add Image" (change)="readUrl($event)" style="display: none;" />
  <label for="file" class="button">Add Image</label>
</div>
