@import '_variables';
@import '_mixins';
body {
  margin: 0px;
  font-family: $cambo;
  font-weight: $f400;
  background-color: $gray;
}

div {
  position: $relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background-color: $bg-yellow;
  padding: 15px 30px;
  @include box-shadow(0px, 4px, 9px, -1px, rgba(0, 0, 0, 0.75));
  .left-header {
    width: $w50;
    float: $left;
    text-align: $left;
    span {
      font-size: 35px;
      line-height: 43px;
      color: $black;
    }
  }
  span {
    font-family: $courgette;
    font-weight: $f400;
    color: $black;
  }
}

footer {
  background-color: $dark-black;
  padding: 10px;
  text-align: $center;
  span {
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }
}
.sticky{
  position: $absolute;
}
.mainContent {
  padding: 60px 60px 10px;
  background-color: $gray;
  .slide {
    width: $w100;
    height: $h500;
    border: 1px solid black;
    background-color: $white;
    overflow: hidden;
    position: relative;
  }
  .button {
    width: auto;
    background-color: $bg-yellow;
    border: 0;
    padding: 4px 15px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    @include border-radius(5px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $asap;
  font-weight: $f700;
}

p {
  margin-top: 0;
  margin-bottom: 6px;
}

a {
  float: right;
}

.buttons {
  text-align: center;
  padding: 25px 0;
}

.ng-draggable {
  cursor: move;
}

.drag-boundary {
  width: 40%;
  margin: 0 auto;
}