<div class="slide" #myBounds>
  <div class="textList">
      <app-text-field *ngFor="let item of textField" ngDraggable [bounds]="myBounds" [inBounds]="inBounds" [content]="item"></app-text-field>
  </div>
  <div class="imagesList" *ngFor="let data of datas">
    <img ngDraggable [bounds]="myBounds" [inBounds]="inBounds" [src]="data" width="30%">
  </div>
</div>
<div class="buttons">
  <button class="button" (click)="createSticky()">
    Add Text
  </button>
  <input type="file" id="file" value="Add Image" (change)="readUrl($event)" style="display: none;" />
  <label for="file" class="button">Add Image</label>
</div>
