<div class="slide" #myBounds>
  <div *ngFor="let item of textField">
      <app-text-field [content]="item"></app-text-field>
  </div>
  <div>
    <img ngDraggable [bounds]="myBounds" [inBounds]="inBounds" [src]="url" width="30%">
  </div>
</div>
<div class="buttons">
  <button class="button" (click)="createSticky()">
    Add Text
  </button>
  <input type="file" id="file" value="Add Image" (change)="readUrl($event)" style="display: none;" />
  <label for="file" class="button">Add Image</label>
</div>
